@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic);
@import "grid";

$color-element-grey: #313332;

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: #fff;

	.container {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
	}
}

/*NAV*/

header {
	background-color: $color-element-grey;
	background-color: rgba(0, 0, 0, 0.8);

	> nav ul {
		float: right;
		list-style-type: none;
		padding: 1% 0;
		margin: 0;

		> li {
			display: inline-block;

			> a {
				display: block;
				line-height: 70px;
				padding: 0 20px;
				color: #fff;
				text-decoration: none;
				text-transform: uppercase;
			}

			&:hover > a {
				background-color: #ccc;
				color: #3498db;
			}
		}
	}

}

#logo {
	text-align: center;
	padding-top: 7px;
}


/*SLOGAN */

.hero {
	background-image: url(https://images.pexels.com/photos/169573/pexels-photo-169573.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
	background-attachment: fixed;
	height: 400px;
	background-size: cover;
	background-position: center;
}

.slogan {
	max-width: 800px;
	min-width: 400px;
	width: 40%;
	float: right;
	background-color: rgba(0, 0, 0, 0.4);
	position: relative;
	top: 50%;
	transform: translateY(-50%);

	> h1 {
		text-align: left;
		color: #fff;
		margin: 20px 70px 20px 30px;
		text-transform: uppercase;
		line-height: 30px;
		font-size: 30px;

		&::first-line {
			font-weight: 100;
			word-spacing: 2px;
		}
	}
}

/*ICONS*/

.icons > .container {
	margin: 50px auto;
	text-align: center;

	.fa {
		background-color: $color-element-grey;
		width: 70px;
		height: 70px;
		border-radius: 10px;
		border: none;
		color: #fff;
		font-size: 40px;
		padding: 15px;
		transition: 0.3s;
	}

	.text-content {
		margin-top: 25px;

		h2 {
			text-transform: uppercase;
			font-weight: bolder;
			font-size: 1.8em;
			margin-bottom: 20px;
		}

		p {
			font-size: .9em;
			margin: 10px auto;
			opacity: 0.5;
			line-height: 20px;
			padding-right: 80px;
			padding-left: 80px;
		}

	}

	.content {
		span {
			cursor: pointer;

			> h4 {
				text-transform: uppercase;
				color: $color-element-grey;
				font-weight: 600;
				margin-top: 25px;
				margin-bottom: 0;
				transition: 0.3s;
			}
		}


		p {
			font-size: 0.7em;
			margin: 10px 15px;
			opacity: 0.5;
			line-height: 20px;
		}
	}
}

/* GALLERY */

@mixin col-height {
	[class*="col-"] {
		height: 200px;
	}
}

@mixin pic-properties {
	[class*="pic-"] {
		background-size: cover;
		background-position: center;
		padding: 0;
	}

}

.gallery {
	@include col-height;
	@include pic-properties;

	.pic-1 {
		background-image: url(https://images.pexels.com/photos/136049/pexels-photo-136049.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
	}

	.pic-2 {
		background-image: url(https://images.pexels.com/photos/122244/pexels-photo-122244.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
	}

	.pic-3 {
		background-image: url(https://images.pexels.com/photos/122101/pexels-photo-122101.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
	}

	.pic-4 {
		background-image: url(https://images.pexels.com/photos/567448/pexels-photo-567448.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
	}

	.pic-5 {
		background-image: url(https://images.pexels.com/photos/567451/pexels-photo-567451.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
	}

	.pic-6 {
		background-image: url(https://images.pexels.com/photos/131023/pexels-photo-131023.png?w=940&h=650&auto=compress&cs=tinysrgb);
	}

	.pic-7 {
		background-image: url(https://images.pexels.com/photos/265315/pexels-photo-265315.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
	}

	.pic-8 {
		background-image: url(https://images.pexels.com/photos/311004/pexels-photo-311004.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
	}

	.pic-9 {
		background-image: url(https://images.pexels.com/photos/131044/pexels-photo-131044.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
	}

	.pic-10 {
		background-image: url(https://images.pexels.com/photos/131921/pexels-photo-131921.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
	}
}

.gallery {

	.layer {
		height: 100%;
		transition: .5s;
		position: relative;

		.fa {
			text-align: center;
			font-size: 15px;
			line-height: 20px;
			height: 20px;
			width: 20px;
			border-radius: 5px;
			border: none;
			background-color: #bdc3c7;
			transition: .2s;
			cursor: pointer;
		}
	}
}

%icon-position {
	position: absolute;
	top: 50%;
	left: 50%;
}

%fa-display {
	display: none;
}

.layer {
	.icon-1 {
		@extend %icon-position;
		@extend %fa-display;
		transform: translate(-35px, -50%);
	}

	.icon-2 {
		@extend %icon-position;
		@extend %fa-display;
		transform: translate(15px, -50%);
	}

}

/*EMPLOYEES*/

.employees {
	.container {
		margin-top: 50px;
		margin-bottom: 50px;

		.row {
			margin-left: 50px;
			margin-right: 50px;
			text-align: center;

			.employee-col {
				padding: 0 15px;
				display: inline-block;
			}
		}
	}
}


.employees [class^="employee"] {
	background-size: cover;
	border-radius: 50%;
	cursor: pointer;
}

.employee1 {
	background-image: url(https://images.pexels.com/photos/567632/pexels-photo-567632.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
	background-position: top;
}

.employee2 {
	background-image: url(https://images.pexels.com/photos/91227/pexels-photo-91227.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
	background-position: center;
}

.employee3 {
	background-image: url(https://images.pexels.com/photos/38554/girl-people-landscape-sun-38554.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
	background-position: top;
}

.employee4 {
	background-image: url(https://images.pexels.com/photos/324658/pexels-photo-324658.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
	background-position: center;
}


.employees .layer {
	border-radius: 50%;
	transition: 0.3s;
	position: relative;
	height: 250px;
}

//todo
.employees h3 {
	color: #313234;
	font-size: 1rem;
	font-weight: 400;
	text-align: center;
}

.employees div.layer h3 {
	position: absolute;
	margin: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
	display: none;
	text-align: center;
}

/*PROMOTION*/

%text-properties {
	text-align: left;
	color: #fff;
	margin-left: 30px;
}

.promotion {
	background-color: #2c3e50;

	.container {
		margin-bottom: 0;
		min-height: 1px;
		padding-left: 100px;
		padding-right: 100px;

		.row .row {
			position: relative;
			margin: 0 auto;
			height: 300px;

			.position {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
}

.promotion {
	.container {
		.position > h2 {
			@extend %text-properties;
			font-size: 2rem;
			margin-bottom: 15px;
			text-transform: uppercase;
			font-weight: bold;
		}

		.col-4 > p,
		.col-8 > p {
			@extend %text-properties;
			font-style: italic;
			font-size: .9rem;
			margin-top: 0;
		}
	}
}

@mixin pic-properties {
	height: 300px;
	background-position: center;
	background-size: cover;
	margin-top: 40px;
}

.promotion .pic {
	background-image: url(https://images.pexels.com/photos/355988/pexels-photo-355988.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
	@include pic-properties;
}

/*NUMBER*/

.number .decoration {
	text-align: center;
	margin: 40px auto;

	h2 {
		font-size: 60px;
		font-weight: 900;
		margin: 0 auto;
	}

	h5 {
		margin: 0 auto;
		text-transform: uppercase;
		color: #2980b9;
		font-size: 1rem;
	}

}

/*FOOTER*/

footer {
	background-color: $color-element-grey;
	color: #fff;

	.container > .row {
		padding: 30px;

		.information-1 p {
			font-size: 0.8em;
			margin: 10px 15px 10px 15px;
			line-height: 20px
		}
	}

	.information-2 {
		background-color: #252726;
		color: #fff;

		p {
			text-align: center;
		}
	}
}

footer {
	h1 {
		text-align: left;
		text-transform: uppercase;
		font-size: 1.4rem;
		margin: 20px 15px 20px 15px;
	}

	h1::after {
		content: "   ---------------";
		letter-spacing: -2px
	}

	.information-1 p {
		font-size: .9rem;
		text-align: left;
	}
}

%text-git-properties {
	margin-top: 0;
	font-size: .9rem;
}

footer .getintouch {
	p {
		@extend %text-git-properties;
		text-align: left;
		padding-left: 10px;
	}
	h4 {
		@extend %text-git-properties;
		text-align: left;
		padding-left: 10px;
	}

	.row > .row {
		padding-left: 15px;
	}
}

footer .social-media {
	.icons {
		text-align: left;
		padding: 10px;

		.fa {
			font-size: 20px;
			border: none;
			height: 32px;
			width: 32px;
			margin: 5px;
			padding: 6px;
			background-color: #3498db;
			text-align: center;
			cursor: pointer;
			transition: .2s;
		}

	}
}

/*MEDIA*/

@media (max-width: 767px) {
	/*NAV*/
	%col-s-properties {
		width: 100%;
		padding: 0;
	}

	nav {
		#logo {
			padding-bottom: 5px;
		}
		.col-3 {
			@extend %col-s-properties;
		}
		.col-9 {
			@extend %col-s-properties;
			ul {
				float: none;
				text-align: center;
				width: 100%;
				padding: 0;
				margin: 0;

				li {
					display: block;
				}
			}
		}
	}

	/*SLOGAN*/
	.slogan {
		width: 100%;
		h1 {
			text-align: center;
		}
	}

	/*ICONS*/
	section.icons .icons > .container {
		.fa,
		h4 {
			cursor: auto;
		}
	}

	/*GALLERY*/
	.gallery {

		[class*="icon-"] {
			display: block;
		}
		.layer .fa {
			font-size: 150%;
			height: 30px;
			width: 30px;
			line-height: 30px;
			cursor: auto;
		}
	}

	/*EMPLOYEE*/
	.employees {
		.employee-col {
			width: 270px;

			[class*="employee"] {
				cursor: auto;
			}
		}
		[class*="col-"] {
			float: none;
			margin: 0 auto;
		}
	}


	/*PROMOTION*/
	%col-width {
		width: 100%;
	}

	.promotion {
		.container {
			padding: 0;

			.col-4 {
				@extend %col-width;
			}

			.col-8 {
				@extend %col-width;

				h2,
				p {
					margin-top: 0;
					margin-left: 15px;
					margin-right: 15px;
				}
			}
		}
	}

	/*NUMBER*/
	.number {
		.decoration {
			width: 100%;
			margin: 10px auto;
		}
		.decoration:nth-of-type(4) > h5 {
			margin-bottom: 10px;
		}
	}

	/*FOOTER*/
	footer {
		h1::before {
			content: "---------------    ";
			letter-spacing: -2px;
		}

		.information-1 {
			.about,
			.social-media {
				p,
				h1 {
					text-align: center;
				}
			}
		}
	}

	footer {
		.getintouch {
			h1 {
				text-align: center;
			}
			.row {
				.col-s-5 h4 {
					text-align: right;
					padding-right: 10px;
				}
				.col-s-7 p {
					text-align: left;
					padding-left: 10px;
				}
			}
		}
		.social-media .icons {
			text-align: center;
			.fa {
				cursor: auto;
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 1200px) {

	/*GALLERY*/
	.gallery {
		[class*="icon-"] {
			display: block;
		}
		.fa {
			font-size: 150%;
			height: 30px;
			width: 30px;
			line-height: 30px;
			cursor: auto;
		}
	}

	/*EMPLOYEES*/
	.employees {
		.row {
			text-align: center;

			.employee-col {
				width: 270px;
				display: inline-block;
			}
			[class*="col-"] {
				float: none;
			}
		}
	}

	/*FOOTER*/
	footer {
		h1::before {
			content: "---------------   ";
			letter-spacing: -2px;
			text-align: center;
		}

		.getintouch {
			.row {
				.col-m-4 {
					h4 {
						text-align: right;
						padding-right: 40px;
					}
				}
				.col-m-8 {
					p {
						text-align: left;
						padding-left: 0;
						margin-left: -30px;
					}
				}
			}
		}

		.social-media {
			h1 {
				text-align: center;
			}
			p {
				text-align: center;
			}
			.icons {
				text-align: center;
				.fa {
					cursor: auto;
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	/*NAV*/
	$color-bg-nav_menu: #ccc;
	$color-nav_menu-text: #3498db;

	nav {
		ul {
			> li {
				&:hover > a {
					background-color: $color-bg-nav_menu;
					color: $color-nav_menu-text;
				}
			}
		}
	}

	/*ICONS*/
	$color-icon-icons: #3498db;
	$color-icon-icons: #3498db;

	section.icons {
		.content {
			span {
				&:hover {
					.fa {
						background-color: $color-icon-icons;
					}
					h4 {
						color: $color-icon-icons;
					}
				}
			}
		}
	}

	/*GALLERY*/
	$color-bg-icon-gallery: #34495e;
	$color-icon-gallery: #ecf0f1;

	.gallery {
		[class*="pic-"] .layer:hover .fa {
			display: block;
		}

		.layer {
			&:hover {
				background: rgba(0, 0, 0, 0.5);
			}
		}
		.icon-1 {
			&:hover {
				background-color: $color-bg-icon-gallery;
				color: $color-icon-gallery;
				transform: translate(-35px, -50%) scale(1.5);
			}
		}
		.icon-2 {
			&:hover {
				background-color: $color-bg-icon-gallery;
				color: $color-icon-gallery;
				transform: translate(15px, -50%) scale(1.5);
			}
		}
	}

	/*EMPLOYEES*/
	.employees {
		[class*="employee"] {
			.layer {
				&:hover {
					background-color: rgba(0, 0, 0, 0.5);
					transition: 0.3s;
					h3 {
						display: block;
						transition: 0.5s;
					}
				}
			}
		}
	}

	/*FOOTER*/
	footer {
		.fa {
			&:hover {
				transform: scale(1.2);
			}
		}
	}
}
